#Supabase Local/Dev
NEXT_PUBLIC_SUPABASE_URL=your-supabase-project-url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-supabase-anon-key
SUPABASE_SERVICE_ROLE_KEY=your-supabase-service-role-key

#Dev-specific variables
NEXT_PUBLIC_ENVIRONMENT=development
NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_APP_URL=http://localhost:3000

#Same for all envs
POPULI_API_KEY=acu_populi_api_key
POPULI_URL=acu_populi_url
AZURE_AD_CLIENT_ID=acu_azure_client_id
AZURE_AD_CLIENT_SECRET=acu_azure_client_secret
AZURE_AD_TENANT_ID=acu_azure_tenant_id